@import '/src/styles/_vars';

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    button {
        position: absolute;
        bottom: -370px;
    }


}

.greet_span {
    color: var(#{--text-color-default});
}


.board {
    position: relative;
    background-color: var(#{--menu-board-color-default});
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 42px;
    padding-bottom: 10px;
    margin-top:46px;
    width: 82%;
    color: var(#{--board-text-color-default});

    .img_container {
        height: 80px;
        width: 80px;
        background-size: contain;
        overflow: hidden;
        border-radius: 50%;
        position: absolute;
        top: -40px;
        
            .img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }


    table {
        margin-top: 5px;
        width: 80%;
        margin-right: 10px;
        text-align: center;
        border-spacing: 0px;
        
        

        thead th {
            padding: 0 15px;
            font-size: 10px;
        }   
        tbody td {
            font-size: 15px;
            
            color: var(#{--board-score-text-color-default});
        }
        thead th:nth-child(2) {
            border-left: 2px solid rgba(194, 103, 186, 0.650);
            
        }
        thead th:nth-child(3) {
            border-left: 2px solid rgba(194, 103, 186, 0.650);
            
        }
        tbody td:nth-child(2) {
            border-left: 2px solid rgba(194, 103, 186, 0.650);
            
        }
        tbody td:nth-child(3) {
            border-left: 2px solid rgba(194, 103, 186, 0.650);
            
        }
    }    
}





