@import '../../../styles/vars';


.header_quiz {
    color: $text-color-light;
    position: relative;
    

    .button {
        color: var(#{--menu-button-color-default});
        position: absolute;
        top: -3px;

    }
    h2 {
    margin-top: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(#{--text-color-default});
    }
}