.answer {
    display: flex;
    overflow:hidden;
    align-items: center;
    justify-content: center;



    background-color:#3c0e70 ;
    width: 200px;
    height: 40px;
    color: rgba(230, 228, 228, 0.884);
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms ease-out;

    span {
        text-align: center;
        text-overflow: ellipsis; 
    }

}
.answer:hover {
    background-color:#491a7ecc ;
}