@import '/src/styles/_vars';



.menuHeader {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0 5px;
}
.button {
    color: var(--menu-button-color-default);   

}